
<div class="card mt-3" style="width: 18rem;">
    @if (Product != null)
    {
        <div class="card-body">
            <h5 class="card-title">@Product.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">$@Product.Price</h6>
            <p class="card-text">@Product.Description</p>
        </div>
    }
    else
    {
        <div class="card-body">
            <p class="text-muted">No hay información disponible del producto.</p>
        </div>
    }
</div>
